body {
            background-color: #dedede47; /* Un gris très léger et propre */
            margin: 0;
            padding: 0;
}

.header-page .header-left a{
    color: #1a1a1a;
}

.header-page .header-left a:hover{
    color: rgba(190, 24, 24, 0.893);
}
.header-page .header-right{
    gap: 5px;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(190, 24, 24, 0.893);

}

.header-page .header-right:hover{
    transform: scale(1.04);
    background-color: rgba(136, 20, 20, 0.893);
}
.header-page .header-right a{
    color: white;
    font-weight: 600;
}

.header-page {
    background-color: #fffefe;
    box-shadow: 0 4px 15px rgba(0,0,0,0.03);
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
    gap: 20px;
}

a{
    text-decoration: none;
    
}

.header-page h2 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 4px;
}

.header-page span {
    font-size: 13px;
    color: #888;
    margin-bottom: 10px;
}

.contenus { display: grid; gap: 15px; max-width: 700px; margin-top: 20px; padding: 30px;}

.un-contenu{
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e8e7e3;
    background: #ffffffbb;
    border-radius: 12px;
    transition: border-color 0.15s ease;

}

.un-contenu:hover {
    border-color: #d3d3d1d4;
}

.contenu-left{
    display: flex;
    align-items: center;
    gap: 14px;
}

.article-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #eeeef5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    flex-shrink: 0;
    color: #d60f0cc2;
}

.contenu-first h3 {
    font-size: 18px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 4px;
}


.categorie {
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    padding: 2px 9px;
    border-radius: 999px;
    background: #ebeaea72;
    color: rgba(148, 4, 4, 0.644);
}

.actions {
    display: flex;
    align-items: center;
    gap: 6px;
}

.actions a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #e8e7e3;
    background: transparent;
    color: #888;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.15s, color 0.15s, border-color 0.15s;
}

.actions a:hover {
    background: #f5f4f0;
    color: #1a1a1a;
    border-color: #c8c7c3;
}
